* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.layout-container {
  width: 1440px;
  height: 1024px;
}
.App {
  width: 100%;
  margin: 0px auto;
  max-width: 1440px;
  position: relative;
  flex: 1 0 auto;
  padding-top: 56px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 70px;
  display: flex;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}
.nav-logo {
  padding: 21px;
  color: #13395b;
  width: 190px;
  height: 31px;
  text-decoration: none;
  font-family: Lato;
  cursor: pointer;
  font-size: 24px;
  font-weight: 900;
  line-height: 31px;
  text-align: left;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  padding: 21px;
}
.nav-items {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 900;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #1d1b19;
  text-decoration: none;
  width: 65px;
  height: 23px;
  top: 64px;
  left: 844px;
  opacity: 0.5px;
}
.nav-images {
  width: 191px;
  height: 642px;

  .add-to-cart {
    position: fixed;
    right: 0px;
    bottom: 39px;
    width: 160px;
    height: 44px;
    padding: 0px 32px 0px 32px;
    border-radius: 4px;
    gap: 10px;
    background: #13395b;
    .cart-button {
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.nav-items-login {
  width: 110px;
  height: 40px;
  border-radius: 6px;
  background: linear-gradient(180deg, #e9c46b 0%, #f3a261 100%);
  position: relative;
  bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  .login {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 900;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.bottle-cap-initial {
  position: relative;
  left: 622px;
  bottom: -14px;
  width: 153px;
  height: 86px;
  z-index: 90;
}

.bottle-cap {
  position: relative;
  animation-name: bottle-cap;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forward;
  transition: ease;
  z-index: 90;
  position: relative;
  left: 622px;
  bottom: -369px;
  width: 153px;
  height: 86px;
}

@keyframes bottle-cap {
  0% {
    position: relative;
    left: 622px;
    bottom: -14px;
  }
  100% {
    position: relative;
    left: 622px;
    bottom: -369px;
  }
}
.bottle-initial {
  position: relative;
  left: 603px;
  top: 206px;
}

.bottle {
  width: 191px;

  animation-name: bottle;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forward;
  position: relative;
  left: 603px;
  top: 300px;
}
@keyframes bottle {
  0% {
    top: 206px;
  }

  100% {
    top: 300px;
  }
}

.message-inner {
  width: 459px;
  height: 19px;
  position: absolute;
  top: 203px;
  right: -99px;
  animation: grow 3s ease 1;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forward;
}

.message {
  font-family: Inter;
  font-size: 72px;
  font-weight: 400;
  line-height: 87px;
  letter-spacing: 0em;
  text-align: center;
  color: #13395b;
  width: 629px;
  height: 87px;
  position: absolute;
  top: 30px;
  right: -180px;
  animation: grow 3s ease 1;

  animation-fill-mode: forward;
}
.message-text {
  font-family: Inter;
  font-size: 72px;
  font-weight: 400;
  line-height: 87px;
  letter-spacing: 0em;
  text-align: center;
  color: #13395b;
  width: 629px;
  height: 87px;
  position: absolute;
  top: 30px;
  right: -180px;
  opacity: 0;
}

@keyframes grow {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.message-border-initial {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 621px;
  bottom: 373px;
  border: 4px solid #13395b;
  border-radius: 239px;
}

.message-border {
  width: 350px;
  height: 350px;
  border: 4px solid #13395b;
  border-radius: 239px;
  position: absolute;
  left: 521px;
  bottom: 303px;

  animation: message-border 3s ease 1;
}

@keyframes message-border {
  0% {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 621px;
    bottom: 223px;
  }

  100% {
    width: 350px;
    height: 350px;
    position: absolute;
    left: 521px;
    bottom: 303px;
  }
}

.know-more {
  width: 160px;
  height: 40px;
  border-radius: 6px;
  background: linear-gradient(180deg, #e9c46b 0%, #f3a261 100%);
  position: absolute;
  left: 619px;
  top: 299px;
  opacity: 0.7;
  animation: know-more 3s linear 1;
}

@keyframes know-more {
  0% {
    top: 300px;
    opacity: 0.5;
  }
  25% {
    top: 330px;
    opacity: 0.5;
  }

  100% {
    top: 370px;
    opacity: 1;
  }
}

.know-more-button {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  width: 114px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 19px;
  color: #333333;
}
